/* fonts headings arvo
paragrapsh fira sans 

font-family: 'Arvo', serif;
font-family: 'Fira Sans', sans-serif;

colors
#003049 0, 48,73
#d62828 214, 40 ,40
#f77f00 247, 127, 0
#fcbf49 252, 191, 73
eae2b7 234.226,183 */


body{
    text-align: center;
    margin: 0 auto;
    background-color: #eae2b7;
    color: #003049;
    padding: 1%;
    margin: 1%;
}

h1,h2{
    font-family: 'Arvo', serif;
}

#headingSample{
    font-family: 'Arvo', serif;
}

p , a{
    font-family: 'Fira Sans', sans-serif;
}

nav{
    display: flex auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:#003049;


    

    

    background-color: #003049;
}


nav a {
    
    width: 100%;
    font-size: 25px;
    display: block;
    padding: 1%;
    margin: 1%;
    text-decoration: none;
    color:#f77f00;

   
}


nav a:hover{
    background-color: #f77f00;
    color:#003049;
}


nav ul{
    margin: .9em;
    padding: .9em;
}




main a{
    display: block;
    padding: 1%;
    margin: 1%;
    text-decoration: none;
    color:#003049;

    

}



/*Home page*/


#homeContent{
    border:2px;
    border-style:solid;
    border-color: black;
    background-color: #fcbf49;
    padding: 1%;
    margin: 1%;
    
}

#homeContent p{
    text-align: left;
    padding: 2%;
    margin: 2%;
    font-size: 20px;
}







/*Audience*/

#audienceContent{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: left;
    background-color: #fcbf49;

}

#audienceContent p, li{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}



#audienceContent h3{
    font-size: 22px;
    font-family: 'Arvo', serif;
}

#audienceSection , #scenariosSection, #personaSection {
  padding: 1%;
  margin: 1%;
}

#audienceContent h2{
    text-align: center;
}








/*Typography page */
#typoSampleContainer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1%;
    margin: 1%;
    font-size: 20px;
    
    
    background-color: #fcbf49;
    border: 2px;
    border-style: solid;
    border-color: black;


}

#typoSampleHeadings, #typoHeadingsOne, #typoHeadingsTwo, #typoHeadingsThree, #typoParagraph, #typoNav, #typoList{
    display: flex ;
    flex-direction: row;
    justify-content: center;
    
}


#typoSampleHeadings{
    border-bottom: 2px ;
    border-style: solid;
    border-color: black;
}

#typoSampleHeadings p, #typoHeadingsOne p, #typoHeadingsTwo p, #typoHeadingsThree p, #typoParagraph p, #typoNav p, #typoList p{
    display: block;
    width: 100%;
}

    





/*color scheme */

#sampleContainer{
    display: grid;
    grid-template-columns: 1fr;
    border:2px;
    border-style:solid;
    border-color: black;

}

#blue{
    background-color: #003049;
    color: white;
}

#red{
    background-color: #d62828;
    color: white;
}

#orange{
    background-color: #f77f00;
}

#yellow{
    background-color: #fcbf49;
}

#lemon{
    background-color: #eae2b7;
}


#colorSampleHeadings{
    display: none;
    
    
}


/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    margin: 1%;

    background-color: #003049;
}

footer p{
    color:#f77f00;
    display: block;
    width: 100%;
}




