/*colors
#003049 / 0, 48, 73
#d62828 / 214, 40, 40
#f77f00 / 247, 127, 0
#fcbf49 / 234, 226, 183
*/

body{
    margin: 0 auto;
    text-align: center;
    
    /* width: 100%;
    height: 100%; */
    /* border: 20px solid pink; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

table{
    /* border: 10px solid lime; */
    grid-column: 2/3;
    margin: 100px;
    border-collapse: collapse;
    box-shadow: 0 0 30px;
   
    border: 5px solid black;
    
    
    
}


thead{
    background-color: #003049;
    color: #fcbf49;
    font-size: 2rem;
    
}

/* tbody{
    border: 5px solid black;
} */

tbody tr:nth-child(1){
    background-color: rgba(0,48,73,.5);
    font-size: 1.5rem;
    
}

tr:nth-child(3) td:nth-child(2){
    background-color: #003049;
    color:#fcbf49;
}

td,th{
    border: 1px solid black;
    font-size: 1.1rem;
    padding: 7px 15px;
}



tr:nth-child(even) {
    background-color: rgba(234,226,183,.7);
}

/* tr{
    border: 20px solid black;
    background-color: aqua;
} */

caption{
    caption-side: bottom;
    font-size: 1.3rem;
    margin: 10px;
}

