/* font-family: 'IBM Plex Serif', serif;
font-family: 'Rubik', sans-serif; */

body{
    
    /* background-color: #F4F4F9; */
    background-color: #E6E6EA;
    margin: 2%;
    padding: 2%;
    text-align: center;
    
   

}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.5rem;
}



header{
    border-bottom: 5px solid black;
}

nav{
    text-align: center;
    display: flex;
   
    
    
}


nav a{
    margin: 2%;
    padding: 2%;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    color: #f4f4f9;
}

nav a:nth-child(odd){
    background-color: #fe4a46;
}

nav a:nth-child(even){
    background-color: #009FB7;
}

nav a:hover{
    background-color: #FED766;
    
}

nav a:nth-child(odd):hover{
    color: #fe4a46;
}

nav a:nth-child(even):hover{
    color: #009FB7;
}




#scenarios{
    text-align: center;
}


#pageTitles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pageTitles div{
    margin: 5%;
}

#pageTitles h3{
    text-align: center;
}


#typoChart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
}

.ibm{
    font-family: 'IBM Plex Serif', serif;
}

.rubik{
    font-family: 'Rubik'
}

#sampleTable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
    background-color: gray;
}

#sampleTable div{
    margin: 2%;
    border: 2px solid black;
}

.to{
    background-color: #fe4a46;
    color: white;
}

.oyc{
    background-color: #FED766;
}

.pb{
    background-color: #009FB7;
    color: white;
}

.gb{
    background-color: #E6E6EA;
}

.gw{
    background-color: #f4f4f9;
}


#views{
    display: flex;
    flex-direction: column;
}

#views div{
    display: flex;
    flex-direction: column;
}

