@media only screen and (min-width: 35rem){
    /* body{
        background-color: white;
        
        

    }
 */

    #city{
        font-size: 2.5rem;

    }

    #title{
        font-size: 1.2rem;
    }

 
    /*---------Main---------*/



    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10px;
        margin-bottom: 100px;

        border: 5px;
        border-style: solid;
        border-color: black;
        margin: 10px;
        padding: 10px;
        
       
    }

    #heroSection, #weatherSection, #newsSection, #spotlightSection{
        grid-column: 1/ span 3;
        
    }

    #eventSection{
        grid-column: 1/ span 2;
        order:5;
    }

    #weatherSection{
        order:6;
        grid-column: 3/ span 1;
        
        
    }

    #heroSection{
        order: 1;
    }

    
    #newsSection{
        order: 2;
    }

    #spotlightSection{
        order: 3;
        grid-template-columns: 1fr 1fr;


    }


    /*------------------Join section------------------*/

    #joinSection{
        display: block;
        grid-column: 1/4;
        order: 4;
        background-color: #fcbf49;
        border: 3px;
        border-style: solid;
        border-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        
    }

    

    .joinButton{
        background-color: limegreen;
        font-size: 3em;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
        
    }

    
    .joinButton:hover {
        background-color:#003049;
        color:#eae2b7
    }





    /*---------Footer---------*/

    /* footer{
        display: grid;
        background-color: blue;


    }

    #topFooter{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;

    }

    #footerLogo{
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #nameFooter, #address{
        grid-column: 2/3;
        margin: 0;
        text-align: left;
        align-items: center;
    } */
    
    

    #topFooter{
        display:  grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }


    #topFootFirst{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
    }

    #footerLogo{
        justify-content: center;
        align-items: center;
        
    }

    #email, #phone, #map {
        align-items: center;
    
    }

    
    





    #bottomFooter{
        display: grid;
        

    }

    #footerTitle{
        grid-column: 1/2;
        
        text-align: right;
    }

    #footerName{
        grid-column: 2/3;
    }

    #projectName{
        grid-column: 3/4;
        text-align: left;
    }

    #lastUpdated{
        grid-column: 1/4;
        letter-spacing: .3rem;
    }




    /*---------Discover Page--------*/

    /* .stats{
        background-color: lime;
    } */
    .slide{
        transition: .5s;
        z-index: 1;
    }

    .slide:hover{
        transform: scale(1.1);
        transition: .5s;
        z-index: 2;
    }
    
    .blur{
        filter:blur(10px);
    }

    .effect{
        filter: unset;
    }
   

    






}