@media only screen and (min-width: 35rem){
    /* body{
        background-color: white;
        
        

    }
 */

    #city{
        font-size: 2.5rem;

    }

    #title{
        font-size: 1.2rem;
    }

 
    /*---------Main---------*/
 


    .homeMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10px;
        margin-bottom: 100px;

        border: 5px;
        border-style: solid;
        border-color: black;
        margin: 10px;
        padding: 10px;
        
       
    }

    #heroSection, #weatherSection, #newsSection, #spotlightSection{
        grid-column: 1/ span 3;
        
    }

    #eventSection{
        grid-column: 1/ span 2;
        order:5;
    }

    #weatherSection{
        order:6;
        grid-column: 3/ span 1;
        
        
    }

    #heroSection{
        order: 1;
    }

    
    #newsSection{
        order: 2;
    }

    #spotlightSection{
        order: 3;
        grid-template-columns: 1fr 1fr;


    }


    /*------------------Join section------------------*/

    #joinSection{
        display: block;
        grid-column: 1/4;
        order: 4;
        background-color: #fcbf49;
        border: 3px;
        border-style: solid;
        border-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        
    }

    

    .joinButton{
        background-color: limegreen;
        font-size: 3em;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
        
    }

    
    .joinButton:hover {
        background-color:#003049;
        color:#eae2b7
    }





    /*---------Footer---------*/

    /* footer{
        display: grid;
        background-color: blue;


    }

    #topFooter{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;

    }

    #footerLogo{
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #nameFooter, #address{
        grid-column: 2/3;
        margin: 0;
        text-align: left;
        align-items: center;
    } */
    
    

    #topFooter{
        display:  grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }


    #topFootFirst{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
    }

    #footerLogo{
        justify-content: center;
        align-items: center;
        
    }

    #email, #phone, #map {
        align-items: center;
    
    }

    
    





    #bottomFooter{
        display: grid;
        

    }

    #footerTitle{
        grid-column: 1/2;
        
        text-align: right;
    }

    #footerName{
        grid-column: 2/3;
    }

    #projectName{
        grid-column: 3/4;
        text-align: left;
    }

    #lastUpdated{
        grid-column: 1/4;
        letter-spacing: .3rem;
    }




    /*---------Discover Page--------*/

    /* .stats{
        background-color: lime;
    } */
    .slide{
        transition: .5s;
        z-index: 1;
    }

    .slide:hover{
        transform: scale(1.1);
        transition: .5s;
        z-index: 2;
    }
    
    .blur{
        filter:blur(10px);
    }

    .effect{
        filter: unset;
    }
   





    /*----------------JOIN PAGE-----------*/
    /*-------THIS NEEDS TO BE IT'S OWN ID AND UNIQUE TO THIS PAGE AND SIMILAR CHANGES HAVE TO HAPPEN ON OTHER PAGES
    ------*/
    /* main{  
        display: block;
    } */
    

    /* form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    } */

    /* fieldset{
        height: 420px;
    } */

    /* form h1 {
        grid-column: 1/3;
    } */

    .sbs{
        
        font-size: 1rem;
        gap: 2%;
        margin: 1%;
        border: 3px solid white;
        border-radius: 25px;
    }

    input[type="radio"]{
        height: 1.9rem;
        width: 1.9rem;
    }

    fieldset:nth-child(1){
        display: flex;
        flex-direction: column;
        
    }

    fieldset:nth-child(3){
        display: flex;
        flex-direction: row;
        grid-row: 2/3;
        grid-column: 2/3;
        max-width: 100%;
        font-size: 1rem;
    }

    fieldset:nth-child(2){
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr
        ;
        
    }

    /* fieldset:nth-child(2) input {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    .bdescription {
        grid-column: 1/3;
        

    }

    /* #textarea{
        resize: none;
        height: auto;
    } */
    /* .bname, .bposition{
        width: 50%;
    }

    .bdescription{
        width: 75%;
    } */

    /* textarea{
        width: 80%;
    } */




    .submitBtn{
        grid-column: 1/3;
        

        


    }
    



/*---------------------DIRECTORY PAGE-----------------*/




.directoryList{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.directoryList section{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.directoryList h2{
    font-size: 1rem;
}





.directoryGrid{
    
    grid-template-columns: 1fr 1fr;
    
}








/*------------WIRE FRAME PAGE------------------*/

.wireMain div{
    flex-direction: row;
    font-size: 1.5rem;
}



}