body{
    width: 100%;
    margin: 0 auto;

}
.top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: pink;
    border-color: black;
    border: 50px;
    padding: 0;
    place-items: center;
    /* align-items: center; */
    padding: 2%
    
}

#headerPhoto {
    grid-column: 1/2;
    
    /* padding: 10% */
}

#nameTitle {
    grid-column: 2/3;
    text-align: center;
}


#portalDiv{
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr; */
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

/* #portalDiv h1, ul{
    grid-column: 2/3;
    text-align: center;
}

#portalDiv ul {
    grid-row: 2/3
} */











footer {
    background-color: lime;
    display: grid;
    grid-template-columns: repeat(4fr);
    grid-template-rows: repeat(3fr);
}

#footerDate{
    grid-column: 1/2;
    text-align: center;
}

#footerName {
    grid-column: 2/3;
    text-align: center;
}

#footerLocation{
    grid-column: 3/4;
    text-align: center;
}

#lastUpdated {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;

}